.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;   
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-row {
    display: flex;
    border: none;
    position: fixed;
    justify-content: space-evenly;
    align-items: start;
    background-color: #101014;
    height: 20vh;
    width: 100vw;
    bottom: 0%;
    border-radius: 25px 25px 0px 0px;
}

.animateIn {
    animation-name: slide-in;
    animation-duration: 550ms;
    animation-timing-function: ease-in;
}

.animateOut {
    animation-name: slide-out;
    animation-duration: 550ms;
    animation-timing-function: ease-out;
}

@keyframes slide-in {
    from { bottom: -50% }
    to { bottom: 0% }
}

@keyframes slide-out {
    from { bottom: 0% }
    to { bottom: -50% }
}

form: {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    width: 90%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    background: none !important;
    outline: none !important;
    color: white !important;
    font-size: 24px !important;
    text-align: center !important;
}

p {
    padding: 5px;
}